    
      <footer class="footer">

        <div>
          <a href="/brands">Nos marques</a>
        </div>
        
        Servi avec &hearts; par Shop Sandbox
      
      </footer>
    </div>
    
    <script src="/js/script.js"></script>
  </body>
</html>
