<%- include('partials/header') %>
      <main class="page">
        <section class="content">
          <h1 class="content-title">Bienvenue chez Shop Sandbox</h1>
          <p class="content-desc">Notre fabuleuse boutique est fière de vous présenter ses articles</p>
          <ul class="content-list">
            <% for(const product of products) { %>
              <li class="content-item"><a href="/product/<%= product.id %>" class="content-link"><%= product.title %></a></li>
            <% } %>
          </ul>
        </section>
      </main>
      <%- include('partials/footer') %>